<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


<div class="container">
    <hr>
    <h3>Congratulations! You created reservation!</h3>
    <hr>
    <h3>Reservation Data:</h3>
    <label>Start Date:</label><input type="date" th:value="${reservationDTO.from}" th:readonly="readonly"></input>
    <label>End Date:</label><input type="date" th:value="${reservationDTO.to}" th:readonly="readonly"></input>
    <hr>
    <h3>Guest Data:</h3>
    <label>First Name:</label><input type="text" th:value="${reservationDTO.guestDTO.firstName}" th:readonly="readonly"></input>
    <label>Last Name:</label><input type="text" th:value="${reservationDTO.guestDTO.lastName}" th:readonly="readonly"></input>
    <label>Age:</label><input type="text" th:value="${reservationDTO.guestDTO.age}" th:readonly="readonly"></input>
    <label>Gender:</label><input type="text" th:value="${reservationDTO.guestDTO.gender}" th:readonly="readonly"></input>
    <hr>
    <h3>Room Data:</h3>
    <label>Room Number:</label><input type="text" th:value="${roomNumber}" th:readonly="readonly"></input>
    <hr>
    <a th:href="@{/}">Back To Main Page</a>
</div>
</div>


</body>
</html>