<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-image: url("/images/hotel.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

<div class="container mt-4">
    <h3>Enter Guest Data</h3>
    <hr>

    <form th:action="@{/reservationsWizard/createReservationSuccess}" th:object="${reservationDTO}" method="POST">
        <input type="hidden" name="from" th:field="*{from}"/>
        <input type="hidden" name="to" th:field="*{to}"/>
        <input type="hidden" name="roomId" th:field="*{roomId}"/>

        <div class="mb-3">
            <label for="firstName" class="form-label fw-bold">Enter First Name</label>
            <input type="text" id="firstName" name="guestDTO.firstName" th:field="*{guestDTO.firstName}"
                   class="form-control mb-3 col-4" placeholder="First Name" required/>
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label fw-bold">Enter Last Name</label>
            <input type="text" id="lastName" name="guestDTO.lastName" th:field="*{guestDTO.lastName}"
                   class="form-control mb-3 col-4" placeholder="Last Name" required/>
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" id="age" name="guestDTO.age" th:field="*{guestDTO.age}"
                   class="form-control mb-3 col-4" placeholder="Age" required/>
        </div>

        <div class="mb-3">
            <label for="gender" class="form-label fw-bold">Select Gender</label>
            <select name="guestDTO.gender" id="gender" th:field="*{guestDTO.gender}" class="form-select" required>
                <option value="" selected>--Select your gender--</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-info btn-sm">Go to summary</button>
        </div>
    </form>

    <form th:action="@{/reservationsWizard/createReservationRoomChoosing(from=${reservationDTO.from}, to=${reservationDTO.to})}" method="POST">
        <input type="hidden" name="_method" value="POST"/>
        <button type="submit" class="btn btn-info btn-sm">Go to room choosing menu</button>
    </form>

    <br>
    <a th:href="@{/reservationsWizard/createReservationDate}">Back to date selection</a>
</div>

</body>
</html>