<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <hr>
    <h3>Add new Room</h3>
    <hr>

    <form action="#" th:action="@{/rooms/save}"
          th:object="${room}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <label>Room Number</label>
        <input type="number" th:field="*{number}"
               class="form-control mb-4 col-4" placeholder="Number"/>
        <label th:field="*{beds}">Select Beds in Room</label>

            <select th:field="*{beds}">
                <option value="">None</option>
                <option value="SINGLE">Single</option>
                <option value="DOUBLE">Double</option>
                <option value="KING_SIZE">King Size</option>
            </select>
            <select th:field="*{beds}">
                <option value="" selected>None</option>
                <option value="SINGLE">Single</option>
                <option value="DOUBLE">Double</option>
                <option value="KING_SIZE">King Size</option>
            </select>
            <select th:field="*{beds}">
                <option value="" selected>None</option>
                <option value="SINGLE">Single</option>
                <option value="DOUBLE">Double</option>
                <option value="KING_SIZE">King Size</option>
            </select>



        <hr>
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <br>
    <a th:href="@{/rooms/list}">Back to rooms list</a>
</div>
</body>
</html>